
@{
    ViewBag.Title = "AboutUs";
}

<script src="@Url.Content("~/Content/Site/js/AboutUs.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>

<div class="container content">
    <div class="row aboutusmaindiv">
        <p>The company was founded in early 2018 by Jaydip Chakraborti, who is professionally a Chartered and Cost Accountant. Before the start of entrepreneurship, he was Vice President (Finance) of the real estate vertical of The Chatterjee Group (TCG). He has also founded a successful social real estate startup <a href="https://www.trikalre.com" target="_blank">www.trikalre.com</a>.</p>
        <p>Jaydip’s key success remains in motivating and integrating a team of intelligent and creative minds to work on the founding thoughts of the company.</p>
        <p>We are presently a team of six and occasionally advised and guided by scientists and technologists of international repute.</p>
    </div>

    <div class="aboutusmaindiv">
        <h4 class="heading-h4" style="font-size: 22px;">Our present HR assets:-</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><strong>Domain</strong></td>
                    <td><strong>Strength</strong></td>
                    <td><strong>Discipline</strong></td>
                    <td class="align-center"><strong>Expertise</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Engineering</td>
                    <td>2</td>
                    <td>M.C.A & M.Sc. Electronics</td>
                    <td>
                        <ul>
                            <li>C, C++, VC++</li>
                            <li>VBA Programming</li>
                            <li>JavaScript, HTML, AJAX</li>
                            <li>Python</li>
                            <li>C#, .Net , MS SQL SERVER, MVC, API,Entity Framework</li>
                            <li>JSP, JAVA, Android</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Graphics</td>
                    <td>1</td>
                    <td>B.V.A</td>
                    <td>
                        <ul>
                            <li>Graphics</li>
                            <li>Photography</li>
                            <li>Calligraphy</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Tech Support</td>
                    <td>2</td>
                    <td>B.Tech. & Diploma</td>
                    <td>
                        <ul>
                            <li>Testing & Validation</li>
                            <li>Customer service</li>
                        </ul>
                    </td>
                </tr>    
                <tr>
                    <td>Management</td>
                    <td>1</td>
                    <td>
                        CA & CWA 
                    </td>
                    <td>
                        <ul>
                            <li>
                                Ideation
                            </li>
                            <li>
                                Corporate management
                            </li>
                            <li>
                                Financial modelling
                            </li>
                            <li>
                                Customer acquisition
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="aboutusmaindiv">
        <label style="position:inherit;"><strong>Registered Address:</strong></label><br />
        <lable style="position:inherit;">Bengal Intelligent Park, Building Alpha, 3rd Floor, Block EP&GP, Sector V,</lable>
        <label style="position:inherit;">Saltlake Electronic Complex, Kolkata -700091</label>
        <br />
        <label style="position:inherit;">Email :</label> <a href="mailto:info@trikaltech.com" style="color:black;text-decoration:none;"><label style="cursor:pointer;">info@trikaltech.com</label></a>
        <br />
        <label style="position:inherit;">Phone no:</label> <a href="tel:+91 9836358499" style="color:black;text-decoration:none;"><label style="cursor:pointer;">+91 9836358499</label></a>
    </div>
</div>
