<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/Content/Site/js/BrochureRequestReceived.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
@{
    ViewBag.Title = "BrochureRequestReceived";
}
<div class="container content">
    <h2>Brochure Request Received</h2>
    <br />
    <br />
    <div id="BrochureRequestResult">
        @{Html.RenderAction("GetBrochureRequest", "BrochureRequest", new { ListType = 1 });}
    </div>
</div>
