
@{
    ViewBag.Title = "PrivacyPolicy";
}

<script src="@Url.Content("~/Content/Site/js/AboutUs.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#PrivacyPolicyLink').addClass('footer-text-active');
    });
</script>
<div class="container content">
    <div class="row aboutusmaindiv" style="margin:5px;">
        <div class="OfficialHeader">
            <h4 class="heading-h4">Privacy Policy</h4>
        </div>


        <div>
            <p>
                We, TRIKAL TECHNOLOGY SOLUTIONS PVT. LTD a private company established under the laws of India having its  registered office Bengal Intelligent Park, Building Alpha, 3rd Floor, Block EP&GP, Sector-V, Saltlake Electronics Complex, Kolkata, West Bengal,India,700091 recognise that your privacy is very important and take it seriously. This Privacy Policy (“<strong>Privacy Policy</strong>”) sets out how we collect, use and disclose the data when you use our website <a href="https://www.trikalre.com" target="_blank">www.trikalre.com</a> (the “<strong>Website</strong>”). References to “<strong>we</strong>”, “<strong>our</strong>” or “<strong>us</strong>” or the “<strong>Company</strong>” shall mean the Website and/or TRIKAL TECHNOLOGY SOLUTIONS PVT. LTD. Any references to “you”, “your” or “user” shall mean any person or entity using our Website.

            </p>
            <p>
                This Privacy Policy is to be read with the <a href="@Url.Action("Disclaimer","Legal")"><strong>Disclaimer</strong></a>
            </p>
            <p>
                By using this Website, you agree to the terms and conditions of this <strong>Privacy Policy</strong>.
            </p>
            <p><strong>If you do not agree with the terms and conditions of this privacy policy, please do not use this Website.</strong></p>
            <h5>PERSONAL INFORMATION</h5>
            <p>
                In order to receive information about our products and services you are required to provide us with a valid email ID and your contact details. This will enable us to provide you the relevant information, brochure, illustrations etc. The details that you provide will not be shared with anybody without your prior explicit consent.
                We may also keep on record information relating to customer service requests as well as other correspondence, such as emails or letters, sent to us. If you respond to any online surveys, questionnaires etc that may also be kept on record for us to better understand your needs and requirements.
            </p>
            <h5>THIRD PARTY WEBSITES</h5>
            <p>
                Website contains links to other websites or web pages. Such sites or pages are governed by their respective privacy policies. This privacy document applies only to our Website only.
            </p>
            <h5>
                USE OF COOKIES
            </h5>
            <p>
                We may track usage through cookies or session variables. A cookie is a small data file written to a user's hard drive, a session variable is like a temporary cookie and it is destroyed when you close your browser. Cookies may be used, among other things, to allow automated log-in and may contain information about preferences or Internet use. Advertisers and affiliate partners on our site may also send cookies to your browser.
            </p>
            <h5>
                RIGHT TO DATA AND CONTENT
            </h5>
            <p>
                All contents including but not limited to data, illustration, graphic design, trade marks, literary and artistic creations used in the Website shall always be the property of the Company. And the Company will have exclusive right on the content and data of the Website.
            </p>
            <h5>CHANGES TO THIS POLICY</h5>
            <p>
                The Company may periodically update this Privacy Policy. Whenever we make any changes to this Privacy Policy that are important for you to know about, we will post the updated Privacy Policy at this link. It is your responsibility to keep checking this page from time to time in order to be aware of any changes made to this Privacy Policy.
            </p>
            <h5>
                SHARING YOUR PERSONAL INFORMATION OR DETAILS
            </h5>
            <p>
                No information regarding personal details of any user of the Website is rented or sold to any third party . However, statistical analysis details may be shared with our affiliates, partners or third party associates to gain a better understanding of user / visitor behaviour. The information shared would be in aggregate form and no personal information would be shared in isolation with any third party whatsoever.
            </p>
            <p>
                We shall share the details and information under following circumstances:-
            </p>
            <ul>
                <li>
                    <p>
                        If the Company or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets. If we are involved in a merger, acquisition, bankruptcy, reorganization or sale of assets such that your information would be transferred or become subject to a different Privacy Policy, we will notify all our users in advance regarding the occurrence of such event.
                    </p>
                </li>
                <li>
                    <p>
                        Authorized explicitly by the user or visitor
                    </p>
                </li>
                <li>
                    <p>
                        Government bodies or law enforcement agencies, if we have good-faith belief that it is reasonably necessary to share your personal data or information in order to comply with any legal obligation or any government request; or to protect the rights or prevent any harm to the property, or safety of the Company, its directors, our customers, or public; or to detect, prevent or otherwise address public safety, fraud, security or technical issues.
                    </p>
                </li>
            </ul>
            <h5>SECURITY PRACTICES</h5>
            <p>
                We have in place appropriate technical and security measures to secure the information collected by us.
            </p>
            <h5>
                CONTACT US IF YOU HAVE ANY QUERY:
            </h5>
            @*<label style="display:inherit;">Contact address: Room no. 3L, 3rd Floor, White Tower, 115, College Street, Kolkata-700012 </label>
            <label style="display:inherit;">Office Hours: 11:30 A.M. to 2:30 P.M. (Monday to Friday)</label>*@
            <label>Email: trikaltechno@gmail.com</label>
        </div>
    </div>
</div>

