<div class="row card"style="flex-direction:row;padding:10px;margin-bottom:5px;" >
    <div class="col-md-1 col-xs-3">
        <img src="~/Content/Images/google-logo-clipart-transparent-background.jpg" style="width:40px;height:40px;" />
    </div>
    <div class="col-md-10 col-xs-9">
        <div class="col-xs-12">
            <label class="name" style="margin-top:10px;"><strong>@@NAME@@</strong></label>
            <label class="date" style="font-size: 13px;color: slategrey;">@@DATE@@</label>
        </div>
        <div class="col-xs-12" style="margin-top:10px;">
            <div class="jstars" data-value="@@RATING@@" data-total-stars="5" data-color="#22D118" data-empty-color="black" data-size="20px"></div>
        </div>
        <div class="col-xs-12">
            <label style="font-size:14px;">@@FEEDBACK@@</label>
        </div>
        <div class="col-xs-12">
            <a href="/">Show more</a>
        </div>
    </div>
</div>
