
@{
    ViewBag.Title = "TumioFeedback";
}
<script src="~/Content/js/slim.min.js"></script>
<script src="~/Content/js/jstars.js"></script>
<h2>Tumio Feedback</h2>

<div id="TumioFeedback"></div>

<div id="FeedbackCard" class="container">
    @{Html.RenderPartial("_FeedbackCard");}
    @{Html.RenderPartial("_FeedbackCard");}
    @{Html.RenderPartial("_FeedbackCard");}
</div>

