
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = null;
}

<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

<link href="~/Content/css/custom.css" rel="stylesheet" />
<style>
    ol li::marker {
        font-weight: bold !important;
    }

    ol.ub li::marker {
        font-weight: 400 !important;
    }
</style>
<script src="@Url.Content("~/Content/Site/js/AboutUs.js?v="+DateTime.Now.Ticks.ToString())" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#PrivacyPolicyLink').addClass('footer-text-active');
    });
</script>
<div class="container content">
    <div class="row aboutusmaindiv" style="margin:5px;">
        <div class="OfficialHeader">
            <h4 class="heading-h4">Privacy Policy</h4>
        </div>


        <div>
            <p>
                <b>I Cities – KMC SWM</b> app was ideated and developed by Trial Technology Solutions Private Limited and at present launched as a pilot project of the Solid Waste Management Department (SWMD) of Kolkata Municipal Corporation (KMC). This app is a hyperlocal citizen-centric application to operate, manage and monitor doorstep-level solid waste management services of SWMD of KMC.
            </p>
            <p>
                We, Trial Technology Solutions Private Limited, recognize that your privacy is very important and take it seriously. This Privacy Policy (“Privacy Policy”) sets out how we collect, use and disclose your data when you use the <b>I Cities – KMC SWM</b> application (“App”). References to “we”, “our” “us” or “Company” shall mean the App and/or Trial Technology Solutions Private Limited. Any references to “you”, “your” or “user” shall mean any person or entity using the App. We will not use or share your information with anyone except as described in this Privacy Policy.
            </p>
            <p>
                By using the App, you agree to the terms and conditions of this Privacy Policy.
            </p>
            <p>
                You also consent to our use and disclosure of your Personal Information (as defined below) in the manner described in this Privacy Policy. If you do not agree with the terms and conditions of this privacy policy, please do not use this App.
            </p>
            <h5>1. INFORMATION THAT WE COLLECT</h5>
            <ol type="I">
                <li>
                    <p>We collect the following types of information at the time of registration.</p>
                    <ol type="A" class="ub">
                        <li>
                            <p>From the users who are officials/staff of <b>KMC:-</b></p>
                            <p>Name, Gender, Designation, Employee type, Employee ID, Location of work, and mobile number.</p>
                        </li>
                        <li>
                            <p>From the users who are citizens ( about themselves and their premises):-</p>
                            <p>Name, Gender, Status of ownership, Type & Category of building, Door no., Road zone, KMC block no., KMC Ward no., KMC Borough no., and mobile number</p>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>We collect mobile device location data (GPS information) from block level Sub Overseers of KMC while on their duty to manage the collection of waste from the doorstep of the citizens. This information is collected to confirm his physical presence inside the block to start the doorstep services.</p>
                </li>
                <li>
                    <p>Alongside the Registration Data, if Citizens post, share, or upload information at their option for lodging their grievances or requesting special services with/from SWMD of KMC we will also collect the photos, feedback, and comments of the citizens. This information will enable SWMD of KMC to effectively redress the grievance or provide service by communicating and managing the services through the App as well as to evaluate the performance of the department. </p>
                    <p>The Ward level Overseers of KMC while using the App shall post, share or upload information in the form of photos, comments, and notes (reasons to substantiate their action) in relation to grievance redressal or proving special services to the citizens.</p>
                    <p>The App only collects photos captured by the camera on the mobile device but does not access any photos from the photo gallery of the mobile device.</p>
                </li>
                <li>
                    <p>We collect information in the form of feedback and comment from the citizens on the doorstep services provided by the SWMD of the KMC. This information helps the department to access its overall doorstep service performance.</p>
                </li>
                <li>
                    <p>We may collect your <b>Log data</b>. "Log Data" is information that we automatically collect when you use the App, including, but not limited to technical information, such as your IP address and your device’s IMEI, version, and identification number. This information is necessary for the effective and smooth functioning of the App</p>
                </li>
                <li>
                    <p>We collect your mobile number and request access to the SMSs on your device by sending you a One-Time-Password (“<b>OTP</b>”), which you enter in the App to confirm your identity while logging in the App. This is necessary to verify your identity and for secured maintenance of your account in the App.</p>
                </li>
                <li>
                    <p>We may collect your Device Data. <b>“Device Data”</b> includes without limitation, the following:</p>
                    <p><span style="text-decoration:underline;">Identifiers:</span> unique identifiers, device IDs.</p>
                    <p><span style="text-decoration:underline;">Data from device settings:</span> information you allow us to receive through the device settings that you enable, such as access to your location, camera, etc</p>
                    <p><span style="text-decoration:underline;">Network and connections:</span> information such as IP address and device identity</p>
                    <p>This information helps us to customize the App to suit your mobile device and optimize the user experience on the App.</p>
                </li>
                <li>
                    <p style="font-weight:bold;">Analytics information:</p>
                    <p>We may use third-party analytics tools to help us measure traffic and usage trends on the App. These tools collect information sent by your device or the App, including the web pages you visit, add-ons, and other information that assists us in improving the performance of the App. </p>
                </li>
                <li>
                    <p style="font-weight:bold;">Cookies and similar technologies:</p>
                    <p>When you visit the App, we may use cookies and similar technologies like pixels, web beacons, and local storage to collect information about how you use the App and provide features to you. We may ask advertisers or other partners to serve ads or services to your devices, which may use cookies or similar technologies placed by us or a third party.</p>
                </li>
                <li>
                    <p style="font-weight:bold;">Metadata:</p>
                    <p>Metadata is usually technical data that is associated with User Content. For example, Metadata can describe how, when, and by whom a piece of User Content was collected and how that content is formatted.</p>
                    <p>
                        Users can add or may have Metadata added to their User Content like geotag (e.g., to mark your location to a photo), comments, or other data. We do not have any control over your action of adding metadata to any of the information or content that you share, post, or upload on the App. If you geotag your photo or tag your photo using other's APIs then, your latitude and longitude will be stored with the photo and
                        searchable (e.g., through a location or map feature) if your photo is made public by you in accordance with your privacy settings.
                    </p>
                </li>
            </ol>
            <h5>2. HOW WE USE YOUR INFORMATION</h5>
            <p>In addition to some of the specific uses of information that we mentioned under above point no.1, we may use information that we receive to:</p>
            <ul>
                <li>
                    Help you efficiently access your information after you log in.
                </li>
                <li>
                    Remember the information so you will not have to re-enter it during your visit or the next time you visit the App.
                </li>
                <li>
                    Provide, improve, test, and monitor the effectiveness of the App
                </li>
                <li>
                    Develop and test new features
                </li>
                <li>
                    Diagnose or fix technological problems
                </li>
                <li>
                    Automatically update the App on your device
                </li>
                <li>
                    Provide customer support services
                </li>
            </ul>
            <h5>3.DISCLOSURE OF YOUR INFORMATION</h5>

            <p>We disclose your information in the following manner:</p>
            <p><span style="display:block;text-decoration:underline;">Information or Content Visible to Others</span>Public content i.e. any content or information that you as a citizen post, share, or upload on the App is only visible to us and KMC users (i.e. officials and staff of KMC who are registered on the App). We will never rent or sell your Personal Information to third parties unless required by the law</p>
            <p><span style="display: block;text-decoration: underline;">Sharing with KMC and our Group of Companies</span>We shall share your Personal Information, <span  >as mentioned above under point 1</span>, with KMC or may share it with any member of our Group. The term “Group” shall mean any entity that is controlled by us, any entity that is in control of us, or any entity that is under common control with us, whether directly or indirectly.</p>
            <p><span style="display: block;text-decoration: underline;">What You Share with Others</span>When you share information or content on the App, you only share that with us and KMC users. We do not control and shall not be liable for the manner, in which KMC users use the information that you share in the App.</p>
            <p>
                When you share content or information and communicate in the App, you may choose third parties other than us and KMC users with whom you want to share those content or information. For example, when you post any content or information from the App on Facebook, you select the audience for the post, such as a friend, a group of friends, or all of your friends. Similarly, when you use WhatsApp or any other application on your mobile device to share content or information already posted or shared on the App, you choose whom you share the content with. We do not control and shall not be liable for the manner, in which such persons (with whom you choose to share content via any sharing options, such as WhatsApp or Facebook) use the information that you share with them
            </p>
            <p><span style="display: block;text-decoration: underline;">Sharing with Third Parties</span>We may share your information (including Personal Information, <span  >as mentioned above under point 1</span>) with select third parties including:</p>
            <ul>
                <li>
                    <p>Government bodies or law enforcement agencies, if we have a good-faith belief that it is reasonably necessary to share your personal data or information in order to comply with any legal obligation or any government request; or to protect the rights or prevent any harm to the property, or safety of the Company, KMC, our customers, or public; or to detect, prevent or otherwise address public safety, fraud, security or technical issues.</p>
                </li>
            </ul>
            <p>We may also disclose your information (including Personal Information, <span  >as mentioned above under point 1</span>) to select third parties in the following circumstances:</p>
            <ul>
                <li>
                    <p>If the Company or substantially all of its assets are acquired by a third party, in which case personal data held by it about its customers will be one of the transferred assets. If we are involved in a merger, acquisition, bankruptcy, reorganization, or sale of assets such that your information would be transferred or become subject to a different Privacy Policy, we will notify you in advance so you can opt out of any such new policy by deleting your account before transfer</p>
                </li>
            </ul>

            <h5>4. SECURITY PRACTICES</h5>
            <p>We have in place appropriate technical and security measures to secure the information collected by us.</p>

            <h5>5. WHERE WE STORE YOUR PERSONAL INFORMATION</h5>
            <p>
                Your personal information, <span  >as mentioned above under point 1</span>, and data that is collected by the App will be stored in India or outside India with Amazon Web Services “AWS” and the “Google Cloud Platform” cloud servers. Both AWS and Google Cloud Platforms implement security measures to protect the loss, misuse, and alteration of the information, details of which are available at <a href="https://aws.amazon.com" target="_blank" style="color:blue;text-decoration:underline;">https://aws.amazon.com/</a> and <a href="https://cloud.google.com" target="_blank" style="color:blue;text-decoration:underline;">https://cloud.google.com</a>. The privacy policies adopted by AWS and Google Cloud Platform are available at <a href="https://aws.amazon.com/privacy" target="_blank" style="color:blue;text-decoration:underline;">https://aws.amazon.com/privacy</a> and <a href="https://policies.google.com/privacy" target="_blank" style="color:blue;text-decoration:underline;">https://policies.google.com/privacy</a>
            </p>

            <h5>6. CHANGES TO THIS POLICY</h5>
            <p>The Company may periodically update this Privacy Policy. Whenever we make any changes to this Privacy Policy that are important for you to know about, we will post the updated Privacy Policy at this link. It is your responsibility to keep checking this page from time to time in order to be aware of any changes made to this Privacy Policy</p>

            <h5>7. DISCLAIMER</h5>
            <p>
                Unfortunately, the transmission of information via the Internet is not completely secure. Although we will do our best to protect your Personal Information, <span  >as mentioned above under point 1</span>, we cannot guarantee the security of your data transmitted to the App; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to the best of our capability to try to prevent unauthorized access.
            </p>

            <h5>8. THIRD-PARTY LINKS</h5>
            <p>
                The App may, from time to time, contain links to and from the websites of KMC, our partner networks, advertisers, Affiliates, and/or any other websites or mobile applications. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.  Please check these policies before you submit any personal data to these websites or mobile applications.
            </p>

            <h5>9. IF YOU HAVE ANY QUERY</h5>
            <p>If you have any queries or questions about our privacy policy or wish to update any of the information you have provided us, please contact us at <a href="mailto:info@trikaltech.com" style="color:blue;" target="_blank"> info@trikaltech.com</a>.</p>

        </div>
    </div>
</div>

